@import "tailwindcss";

@theme inline {
  --color-primary: #fc5739;
  --color-secondary: #fe95db;
  --color-foreground: #171717;
  --color-background: #fff9fe;
  --color-searchStatsBar: #1d222c;
  --font-sans: var(--font-poppins);
}

* {
  user-select: none;
  -webkit-user-drag: none;
}

@layer base {
  body {
    @apply bg-background bg-[url('/bg_paw.svg')] bg-cover bg-repeat-y bg-center min-h-screen;
    @apply bg-background text-foreground;
  }

  body::-webkit-scrollbar {
    @apply hidden;
  }

  main {
    @apply max-w-7xl mx-auto px-8 lg:px-6 min-h-screen relative;
  }

  section {
    @apply w-full my-8 relative;
  }
}

@layer components {
  input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
  }

  #container {
    @apply flex flex-col md:flex-row items-center gap-8 pb-16 bottom-0;
  }

  .left {
    @apply order-2 md:order-1 flex-1;
  }

  .right {
    @apply order-1 md:order-2 flex-1 flex justify-end;
  }

  .btn-container {
    @apply flex justify-center items-center gap-2 md:gap-4;
  }

  .primary-btn {
    @apply inline-block px-4 py-1.5 text-xs border-2 rounded-full text-white bg-primary transition-all duration-300 cursor-pointer sm:px-6 sm:py-2 sm:text-base  hover:text-primary hover:bg-transparent hover:border-2 hover:border-primary;
  }

  .secondary-btn {
    @apply inline-block px-4 py-1.5 text-xs border-2 border-primary bg-transparent transition-all duration-300 cursor-pointer sm:px-6 sm:py-2 sm:text-base rounded-full text-primary hover:bg-primary hover:text-white;
  }

  .searchStatsBar {
    @apply w-4/5 mx-auto bg-searchStatsBar flex flex-col md:flex-row items-center justify-between gap-4 mb-8 rounded-2xl py-8 px-6;
  }

  .searchBar {
    @apply flex items-center gap-2 bg-background rounded-full px-4 py-1 w-full md:w-auto;
  }

  .searchBar input {
    @apply bg-transparent focus:outline-none w-full;
  }

  .statsContainer {
    @apply flex flex-col md:flex-row items-center justify-center gap-2;
  }

  .stats {
    @apply text-center text-white md:border-r-2 border-white py-4 px-8 sm:px-12;
  }

  .card-container {
    @apply min-h-[60vh] flex flex-col items-center justify-center gap-8 my-12;
  }
  .details {
    @apply order-2 mt-6 md:mt-0 sm:ml-6 flex-1 rounded-2xl text-black p-2 self-start transition-all duration-300 ease-in-out;
  }

  .header-text {
    @apply flex flex-col md:flex-row gap-4 justify-center items-center;
  }

  .footer-upper {
    @apply bg-primary rounded-tl-2xl rounded-tr-2xl;
  }

  .footer-header-text {
    @apply text-center text-white py-4;
  }

  label {
    @apply text-xs text-gray-600;
  }
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}
