@import "tailwindcss";

@theme inline {
  --color-primary: #fc5739;
  --color-secondary: #fe95db;
  --color-foreground: #171717;
  --color-background: #fff9fe;
  --color-searchStatsBar: #1d222c;
  --font-sans: var(--font-poppins);
}

@layer base {
  body {
    @apply bg-background bg-[url('/bg_paw.svg')] bg-cover bg-repeat-y bg-center min-h-screen;
  }

  body::-webkit-scrollbar {
    @apply hidden;
  }

  main {
    @apply max-w-7xl mx-auto px-8 lg:px-6 min-h-screen relative;
  }

  section {
    @apply w-full my-8 relative;
  }
}

@layer components {
  input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
  }

  #container {
    @apply flex flex-col md:flex-row items-center gap-8 pb-16 bottom-0;
  }

  .left {
    @apply order-2 md:order-1 flex-1;
  }

  .right {
    @apply order-1 md:order-2 flex-1 flex justify-end;
  }

  .btn-container {
    @apply flex justify-center items-center gap-2 md:gap-4;
  }

  .primary-btn {
    @apply inline-block px-4 py-1.5 text-xs sm:px-6 sm:py-2 sm:text-base rounded-full text-white bg-primary transition-all duration-300 hover:text-primary hover:bg-transparent hover:border-2 hover:border-primary;
  }

  .secondary-btn {
    @apply inline-block px-4 py-1.5 text-xs sm:px-6 sm:py-2 sm:text-base rounded-full text-primary border-2 border-primary bg-transparent transition-all duration-300 hover:bg-primary hover:text-white;
  }

  .searchStatsBar {
    @apply w-4/5 mx-auto bg-searchStatsBar flex flex-col md:flex-row items-center justify-between gap-4 mb-8 rounded-2xl py-8 px-6;
  }

  .searchBar {
    @apply flex items-center gap-2 bg-background rounded-full px-4 py-1 w-full md:w-auto;
  }

  .searchBar input {
    @apply bg-transparent focus:outline-none w-full;
  }

  .statsContainer {
    @apply flex flex-col md:flex-row items-center justify-center gap-2;
  }

  .stats {
    @apply text-center text-white md:border-r-2 border-white py-4 px-8 sm:px-12;
  }

  .card-container {
    @apply min-h-[60vh] flex flex-col items-center justify-center gap-8 my-12;
  }
  .details {
    @apply order-2 mt-6 md:mt-0 sm:ml-6 flex-1 h-full rounded-2xl text-black p-2;
  }

  .header-text {
    @apply flex flex-col md:flex-row gap-4 justify-center items-center;
  }
}
